.footer {
    background-color: #FFD02C;
    height: 40px;
    width: 100%;
    bottom: 0;
    z-index: 999;
}

.social-icons {
    font-size: 24px;
    display: flex;
    justify-content: flex-end; 
}

.icon {
    color: #fff;
    margin-left: 10px; 
    text-decoration: none;
}

.icon:first-child {
    margin-left: 0; 
}

.icon:hover {
    color: #ccc;
}
