/* Unique class for the navbar */
.custom-navbar {
  background-color: #0ebb9c !important;
  height: 100px;
  display: flex;
  align-items: center;
}

body {
  padding-top: 100px !important;
}

.nav-logo {
  width: 160px;
  height: 53px;
  margin-left: 20px !important;
}

.link {
  text-decoration: none;
  color: #fff;
}

.linkbtn {
  text-decoration: none;
  color: #fff;
}

.navbar-brand {
  margin-left: 50px;
}

.ml-auto {
  margin-left: 20px;
}

.navbar-toggler {
  border-color: transparent;
  margin-right: 30px !important;
}

.nav-link {
  color: white !important;
  font-size: 20px !important;
  justify-content: center !important;
  margin-left: 70px !important;
  display: flex;
  align-items: center; /* Center vertically */
  text-decoration: none;
}

.navbar-btn {
  width: 200px !important;
  height: 43px !important;
  border-radius: 30px !important;
  background-color: #ffd02c !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: bold !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 20px;
  margin-right: 30px !important;
}

/* Hover effect for all text and icons */
.nav-link:hover,
.link:hover,
.navbar-btn:hover,
.nav-link:hover .fa,
.navbar-btn:hover .fa {
  color: black !important;
}

.navbar-collapse {
  background-color: #0ebb9c !important;
  display: flex;
  align-items: center; /* Center vertically */
  margin-right: 20px !important;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 10px 0; /* Add padding for spacing */
  }

  .nav-link {
    margin-left: 0 !important; /* Remove left margin */
    margin-top: 10px; /* Add top margin for spacing */
    font-size: 18px !important; /* Adjust font size if needed */
  }

  .navbar-btn {
    width: 200px !important;
    height: 40px !important;
    font-size: 20px !important;
    margin: 10px auto 0 auto !important; /* Center button and add margin for spacing */
  }

  .navbar-toggler {
    margin-right: 50px !important; 
    border-style: none !important;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    margin-left: auto;
    padding-bottom: 20px !important;
  }
}

.nav-logo {
  width: 160px;
  height: 53px;
  margin-left: -20px !important;
}
