.booking-view {
  font-size: 0.8rem; /* Adjust the font size as needed */
}

.booking-view .list-group-item {
  font-size: 0.8rem;
}

.booking-view .card-header {
  font-size: 0.75rem;
}

.booking-view .card-body {
  font-size: 0.4rem;
}

.booking-view .alert {
  font-size: 0.8rem;
}

.booking-view .btn {
  font-size: 0.6rem;
  width: 50% !important;
}

.booking-view .cardPad {
  padding: 0.5rem;
}

.booking-view .listPad {
  padding: 0.3rem;
  padding-left: 0.7rem;
}

.bGroup {
  background-color: #f2f2f2 !important;
}


