.booking-view {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.booking-view .list-group-item {
  font-size: 0.8rem;
}

.booking-view .card-header {
  font-size: 0.75rem;
  flex-grow: 1 !important;
  justify-content: center !important;
  display: flex !important;
}

.booking-view .card-body {
  font-size: 0.4rem;
}

.booking-view .alert {
  font-size: 0.8rem;
}

.booking-view .btn {
  font-size: 0.75rem;
}

.booking-view .cardPad {
  padding: 0.2rem !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.booking-view .cardPad .listPad {
  width: 100% !important;
  flex-grow: 1 !important;
  justify-content: center !important;
  justify-items: center !important;
  display: flex !important;
}
.booking-view .listPad {
  padding: 0.3rem;

}

.booking-view .cardPad .listPad .list-group-item {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: 100% !important;
}

.booking-view .cardPad .card-body {
  background-color: #ff0000 !important;
}

.bGroup {
  background-color: #f2f2f2 !important;
}

.mb-3{
  padding: 0.3rem !important;
  margin-bottom: 3rem !important;
}

.nav-link.active {
  color: rgb(0, 0, 0) !important;
}

.booking-view .selectDate {
  margin-top: 10px !important;
  font-size: 1rem !important;
  color: white;
}

.form-control[type="date"] {
  margin-bottom: 30px !important;
  color: #333 !important;
}

.booking-view .dayView {
  flex-grow: 1 !important;
  justify-content: center !important;
  display: flex !important;
  margin-top: 5px !important;
  font-size: 0.8rem !important;
  color: white;
}
